footer {
    background-color: #cdbabb;
    width: 100%
}

.header {
    user-select: none;
}

header {
    background-color: #cdbabb;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    div {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-items {
        width: 25%;
        min-width: fit-content;
        h1 {
            font-size: 35px;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            min-width: 300px;
            list-style-type: none;
            li {
                width: fit-content;
            }
        }
    }
}

footer {
    background-color: #cdbabb;
    min-height: 250px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    font-weight: 700;
    a {
        font-weight: 750 !important;
        color: #1a2b5b !important;
    }
    div {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            h1 {
                font-size: 35px;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            min-width: fit-content;
            list-style-type: none;
            li {
                width: fit-content;
            }
        }
    }
    #copyrights {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        align-self: flex-start;
        margin-bottom: 0.65rem;
    }
}

.selected {
    a {
        color: aliceblue;
    }
}

.link {
    text-decoration: underline;
}

.default-button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #1a2b5b;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.default-button:hover,
.default-button:active {
  outline: 0;
}

.default-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.default-button:before {
  background-color: #CDBABB;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.default-button:hover:before {
  background-color: #D5EDF6;
}

@media (min-width: 768px) {
  .default-button {
    padding: 16px 32px;
  }
}

.next-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #CDBABB;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #1a2b5b;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  font-weight: 700;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.next-button:disabled {
  cursor: default;
}

.next-button:hover {
    color: #fff;
}

#back-btn {
    width: 40px;
    position: absolute;
    cursor: pointer;
    top: 12vh;
    left: 3vw;
}

.no-hover {
    cursor: default !important;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.form {
	width: 1000px;
    height: 100%;
    min-height: fit-content;
	padding: 10px 20px;
	padding: 20px;
	background: #f4f7f8;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-ms-border-radius: 8px 8px 0px 0px;
	-o-border-radius: 8px 8px 0px 0px;
}
.form fieldset {
	border: none;
}
.form legend {
	font-size: 1.4em;
    margin-bottom: 25px;
}
.form label {
	display: block;
	margin-bottom: 8px;
}
.form input,
.form input,
.form input,
.form input,
.form input,
.form input,
.form input,
.form input,
.form textarea,
.form select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form input:focus,
.form input:focus,
.form input:focus,
.form input:focus,
.form input:focus,
.form input:focus,
.form input:focus,
.form input:focus,
.form textarea:focus,
.form select:focus {
	background: #d2d9dd;
}
.form select {
	appearance: menulist-button;
	-webkit-appearance: menulist-button;
	height:35px;
}
.form .number {
	background: #3E6B8F;
    color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form input[type="submit"],
.form input[type="button"],
.default-btn {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1e4b70;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 200px;
    border: 1px transparent;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover,
.default-btn:hover {
	background: #113b5d;
}

textarea {
    resize: vertical;
    max-height: 280px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.default-btn {
    width: 1040px;
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
}

.plus {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    appearance: button;
    backface-visibility: hidden;
    background-color: white;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #7c7c7c;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    font-weight: 700;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.plus:hover {
    text-decoration: underline;
}

#plus-icn {
    width: 20px;
    margin-right: 10px;
}
