footer {
  background-color: #cdbabb;
  width: 100%;
}

header {
  background-color: #cdbabb;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
header div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-items {
  width: 25%;
}
header .header-items h1 {
  font-size: 35px;
}
header .header-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  list-style-type: none;
}
header .header-items ul li {
  width: fit-content;
}

footer {
  background-color: #cdbabb;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  bottom: 0;
}
footer div {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer #footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer #footer-items div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer #footer-items div h1 {
  font-size: 35px;
}
footer #footer-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  list-style-type: none;
}
footer #footer-items ul li {
  width: fit-content;
}
footer #copyrights {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  align-self: flex-start;
  margin-bottom: 0.65rem;
}

#home-body {
  font-weight: 450;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
#home-body #home-body-top {
  width: 75%;
}
#home-body #home-body-top img {
  width: 450px;
}
#home-body #home-body-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#home-body #home-body-bottom #home-body-bottom-left {
  width: fit-content;
  min-width: fit-content;
  margin-right: 2rem;
}
#home-body #home-body-bottom #home-body-bottom-right {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}
#home-body #home-body-bottom #home-body-bottom-right button {
  margin-bottom: 2rem;
}
#home-body #home-body-bottom #home-body-bottom-right span {
  width: 100%;
  min-width: 400px;
}

.selected a {
  color: aliceblue;
}

.link {
  text-decoration: underline;
}

.default-button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #1a2b5b;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.default-button:hover,
.default-button:active {
  outline: 0;
}

.default-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.default-button:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.default-button:hover:before {
  background-color: #CDBABB;
}

@media (min-width: 768px) {
  .default-button {
    padding: 16px 32px;
  }
}

/*# sourceMappingURL=components.css.map */
