#home-body {
  font-weight: 450;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-image: url("../assets/images/pictures/home.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -100px;
  min-height: 600px;
}
#home-body #home-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
#home-body #home-body #home-body-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  width: fit-content;
  min-width: fit-content;
  margin-right: 2rem;
}
#home-body #home-body #home-body-left h3 {
  font-size: 2.4rem;
}
#home-body #home-body #home-body-left li {
  font-size: 1.4rem;
}
#home-body #home-body #home-body-right {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
#home-body #home-body #home-body-right button {
  margin-bottom: 2rem;
}
#home-body #home-body #home-body-right span {
  width: 200px;
  min-width: 400px;
  font-size: 0.86rem;
  text-align: center;
}

#createcv-body {
  font-weight: 450;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  padding: 20px 0px 20px 0px;
}
#createcv-body h1 {
  margin-bottom: 50px;
}
#createcv-body .first-legend {
  margin-top: 10px !important;
}
#createcv-body legend {
  margin-top: 30px !important;
}
#createcv-body #templates {
  width: 1000px;
  height: 700px;
  min-height: fit-content;
  padding: 10px 20px;
  padding: 20px;
  background: #f4f7f8;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
#createcv-body #templates h3 {
  text-decoration: underline;
  color: #000;
}
#createcv-body #templates .plus, #createcv-body #templates .tick {
  margin-top: 0%;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -ms-border-radius: 0px 0px 8px 8px;
  -o-border-radius: 0px 0px 8px 8px;
  box-shadow: none;
  background-color: #ccc;
  text-decoration: none;
}
#createcv-body #templates .temp-item {
  padding: 0px 30px 20px 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}
#createcv-body #templates .template-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(115, 115, 115, 0.4);
  background-color: #fff;
}
#createcv-body #templates .template-img-container .template-img {
  width: 100%;
}

#support-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  padding: 20px;
  height: 100%;
}
#support-body #support-item {
  margin: 20px;
  margin-bottom: 0%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 1000px;
  background: #f4f7f8;
  height: fit-content;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
  height: 100%;
}
#support-body h1 {
  margin-bottom: 10px;
}
#support-body form {
  display: block;
}
#support-body form label {
  display: block;
  margin: 14px;
}
#support-body p {
  margin-bottom: 30px;
}
#support-body .form {
  width: 100%;
  height: max-content;
  padding: 0px;
  background: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}
#support-body .form input, #support-body .form select, #support-body .form textarea {
  margin: 0%;
  height: fit-content;
}
#support-body .form select {
  cursor: pointer;
}

#terms-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
#terms-body h1 {
  margin-bottom: 20px;
  text-align: center;
}
#terms-body h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#terms-body p {
  margin-bottom: 10px;
  text-align: justify;
}
#terms-body ul {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 40px;
}
#terms-body ul li {
  margin-bottom: 5px;
}

#about-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
#about-body h1 {
  margin-bottom: 20px;
  text-align: center;
}
#about-body h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#about-body p {
  margin-bottom: 10px;
  text-align: justify;
}
#about-body ul {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 40px;
}
#about-body ul li {
  margin-bottom: 5px;
}

#templates-body {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
#templates-body #templates-container {
  width: 80%;
  height: 700px;
  min-height: fit-content;
  padding: 10px 20px;
  padding: 20px;
  background: #f4f7f8;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#templates-body #templates-container h3 {
  text-decoration: underline;
  color: #000;
}
#templates-body #templates-container .temp-item {
  padding: 0px 30px 20px 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
}
#templates-body #templates-container .template-img {
  width: 100%;
}
#templates-body h1 {
  margin-bottom: 50px;
  font-size: 3.2em;
}

/*# sourceMappingURL=pages.css.map */
